

<div>
    

        <div class="container-md text-center text-white mb-5">
            <div class="mt-5">
                <hr class="border border-danger border-2 opacity-50">
            </div>
            <div class="row justify-content-center">
                <div class="col-6  bg-danger bg-opacity-25 my-5 ">
                    <div class="my-5 pt-5 ">
                       
                       <p> </p>
                    </div>
                </div>
                <div class="col-6  ">
                    <div class="my-5 ">
                        <img class="me-5" width="570" src="~/NewFolder/gavezzoli-dicembre-3.jpg" />

                    </div>
                </div>
            </div>
        <hr class="border border-danger border-2 opacity-50">
        </div>


    
</div>